main{
  background-color: var(--plato-purple);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("/bg_logo.png");
  background-size: 500px ;
  background-repeat: no-repeat;
  background-position-x: -160px;
  background-position-y: 650px;
}


.position-config{
  position: absolute;
  top: 16px;
  right: 16px;
}

.container{
  background-color: var(--plato-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;

  padding: 24px;
}

@media (min-width: 700px){
  main{
    background-size: 600px ;
  }
}

@media (min-width: 1700px){
  main{
    background-size: 800px ;
    background-position-x: -160px;
    background-position-y: 450px;
  }
}
