button{
  background-color: var(--plato-purple);
  color: var(--plato-surface);
  border: 2px solid var(--plato-surface);
  box-shadow: 0px 3px 15px 6px var(--plato-surface);
  border-radius: 16px;
  padding: 16px 24px;
  font-size: var(--ts-24);
  font-weight: 700;
}
