main {
  height: 100vh;
  background-image: url('/bg-v3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main::before {
  opacity: 0.5;
}

.cabecalho{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 0 0;
  h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--ts-48);
    margin-bottom: 4px;
    color: var(--plato-surface);
    padding: 24px;
    width: fit-content;
    border-radius: 16px;
  }
}


.container{
  background-image: var(--purple-gradient);
  height: 500px;
  margin: 150px 24px 16px 24px;
  text-align: center;
  border-radius: 16px;
  img{
    height: 230px;
    transform: translateY(-100px);
  }
  .subtitle{
    transform: translateY(60px);
    color: var(--plato-surface);
    text-align: center;
    h3{
      font-size: var(--ts-24);
    }

    p{
      font-size: var(--ts-16);
      padding: 0 24px;
    }

  }
}

.container-btn{
  display: flex;
  justify-content: center;
  margin-top: 24px;

}

@media screen and (min-width: 700px) {
  .cabecalho{
    padding: 120px 0 0 0;
    h1{
      font-size: var(--ts-64);
    }
    p{
      font-size: var(--ts-20);
    }
  }


  .container{
    height: 550px;
    margin: 150px 100px 16px 100px;
    img{
      height: 300px;
    }
    .subtitle{
      transform: translateY(20px);
      h3{
        font-size: var(--ts-32);
      }

      p{
        font-size: var(--ts-20);
        padding: 0 80px;
      }

    }
  }

}

@media screen and (min-width: 1700px){
  .container{
    height: 550px;
    img{
      transform: translateY(-130px);
      height: 350px;
    }
    .subtitle{
      transform: translateY(-40px);
      p{
        font-size: var(--ts-24);
        padding: 0 500px;
      }

    }
  }
}
